<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ONLINEBOOKSTORE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ONLINEBOOKSTORE.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="p-3 text-bg-dark dark-header">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>
                <a class="navbar-brand" href="#">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVXSQZuK1_bTeCYbt658e7LPf1DZaroIuYkB9hcPSe4VlPorifZDwTo6cRxaY54cpH1KA&usqp=CAU"
                    class="book-logo" />
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a  asp-controller="Home" asp-action="Index" class="nav-link px-2 text-white">Home</a></li>

                    
                    <li><a asp-controller="Books" asp-action="Read" class="nav-link px-2 text-white">Products</a></li>
                    

                    
                    <li><a asp-controller="Cart" asp-action="Index" class="nav-link px-2 text-white">CartItems</a></li>
                </ul>


                @if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
                {

                    <div class="text-end">
                        <p class="text-white">Welcome @User.Identity.Name</p>
                      

                        <a asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-danger me-2">Logout</a>
                    </div>
                }
                else
                {
                    <div class="text-end">
                        <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-success me-2">Login</a>
                        <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-warning">Register</a>
                    </div>
                }

            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ONLINEBOOKSTORE - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
