<link rel="stylesheet" href="~/css/checkout.css" />

<div class="finishing-container">
    <h2>Thank You for Your Order!</h2>
    <div class="thank-you-message">
        <p>We appreciate your purchase and hope you enjoy your new books!</p>
    </div>
    <div class="quote">
        <p>"A room without books is like a body without a soul." </p>
    </div>
    <div class="image-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvDn3nG2toxrYRKeAXhoFE-cVs0pRfoW7Oavt-Mx6J0PaqI0JJO1UDOy2mO3YHxi6PZds&usqp=CAU" alt="Books" class="books-image" />
    </div>
</div>


<style>

    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        animation: fadeIn 1s ease-in-out;
    }

    .finishing-container {
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        max-width: 600px;
        margin: 50px auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        animation: slideIn 1s ease-in-out;
    }

    h2 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }

    .thank-you-message, .quote {
        text-align: center;
        margin-top: 20px;
        font-size: 1.2em;
        color: #555;
    }

    .image-container {
        text-align: center;
        margin-top: 20px;
    }

    .books-image {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    

   


</style>